<div class="container">
<div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <div class="card">
        <img src="assets/images/artistoneartwork2.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">LOOK WITHIN</h5>
          <p class="card-text">Artwork Available |<br> By Vedeshna Art. </p>
        </div>
      </div>
    </div>


    <div class="col">
      <div class="card">
        <img src="assets/images/eyefeelyou.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">EYE FEEL YOU</h5>
          <p class="card-text">Artwork Available |<br> By Melanie Illustration. </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="assets/images/artistoneartwork3.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">INNER SIGHT</h5>
          <p class="card-text">Artwork Available |<br> By Vedeshna Art.</p>
        </div>
      </div>
    </div>
    
    <div class="col">
      <div class="card">
        <img src="assets/images/heal.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">FEEL IT TO HEAL IT</h5>
          <p class="card-text">Artwork Available |<br> By Emsterdam.</p>
        </div>
      </div>
    </div>
  </div>
</div>